.projects {
    .row {
        border-bottom: solid 1px rgb(177, 177, 177);
        align-items: center;
        padding-bottom: 1rem;
        .col {
            padding: 1rem 1rem;
        }
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
        width: 100vw;
        margin: 2rem 0;

        border-radius: 0;
    }
    .card {
        width: 100vw;
        margin: 2rem 0;
    }
}
