.quickies {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #3fe4bb;
	.material-icons {
		color: #162447;
	}
}

html[data-theme="dark"] {
	.quickies {
		color: #fcfcfc;
		.material-icons {
			color: rgb(255, 58, 91);
		}
	}
}
