$color-main: #e43f5a;
$nav-bg: #0c1b3f;
$color-header: #3958a7;
$color-nav-link: rgb(235, 235, 235);
$color-nav-link-active: $color-main;

.splash-wrapper {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #f55875;
	color: #162447;

	.splash {
		display: block;
		font-size: 24pt;
		font-weight: bold;
		text-transform: uppercase;
		margin: 2rem 0;
		&:hover {
			cursor: default;
		}
	}
	.scroll-down {
		position: absolute;
		bottom: 5%;
		h1 {
			font-size: 16pt;
		}
	}
}

html[data-theme="dark"] {
	.splash-wrapper {
		border-bottom: solid 0.1px #f55875;
		background: #162447;
		color: #f55875;
	}
}
