$color-main: #e43f5a;
$nav-bg: #162447;
$color-nav-link: rgb(235, 235, 235);
$color-nav-link-active: $color-main;

.navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: $nav-bg;
	.branding {
		letter-spacing: 1rem;
		color: $color-main;
		writing-mode: vertical-rl;
		font-weight: bold;
		vertical-align: middle;
		display: table;
		text-orientation: upright;
		padding-top: 1rem;
		&:hover {
			cursor: pointer;
		}
	}
	a {
		color: $color-nav-link;
		border: solid 1px transparent;
		margin-left: 1rem;
		margin-right: 1rem;
		width: 100px;
		text-align: center;
		&:hover {
			color: $color-nav-link-active;
			border: solid 1px $color-main;
			transition: border-left .15s, border-top .15s .15s, border-right .15s .3s, border-bottom .15s .45s;
		}
	}
}
