@import "../../_global_theme";

.author-pic-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	.author-pic {
		height: 150px;
		width: 150px;
		background-size: cover;
		border-radius: 50%;
		-webkit-box-shadow: -10px 10px 14px -9px rgba(117, 117, 117, 1);
		-moz-box-shadow: -10px 10px 14px -9px rgba(117, 117, 117, 1);
		box-shadow: -10px 10px 14px -9px rgba(117, 117, 117, 1);
	}
}

.gh-stats-wrapper {
	display: block;
	img {
		width: 100%;
		height: auto;
	}
}

html[data-theme="dark"] {
	.author-pic-wrapper {
		.author-pic {
			box-shadow: $box-shadow-dark;
		}
	}
}
