$color-main: #e43f5a;
$nav-bg: #274285;
$color-header: #3958a7;
$color-nav-link: rgb(235, 235, 235);
$color-nav-link-active: $color-main;

.footer-wrapper {
	padding: 4rem 10%;
	background: $nav-bg;
	color: $color-nav-link;
	align-items: center;
	text-align: center;

	div {
		margin: 1rem 0;
	}
}
.footer-copyright {
	border: none;
	padding: 2rem 10%;
	background: $color-main;
	color: $color-nav-link;
	align-items: center;
	border: none;
	text-align: center;
	div {
		margin: 1rem 0;
	}
}

html[data-theme="dark"] {
	.footer-copyright {
		background: #00e498;
		color: #222222;
	}
}
