$background-dark: #222222;

$box-shadow-dark: 1px 1px 12px 1px rgba(0, 0, 0, 0.356);

$primary-txt-dark: #ffffff;
$secondary-txt-dark: #cccccc;
$tertiary-txt-dark: #a5a5a5;

$accent-green: #00e498;
$accent-pink: #e43f5a;
$accent-blue: #3958a7;

$accent-blue-dark: #7ed6ff;

$blue-splash: #0c1b3f;
$blue-header: #162447;
