@import "./__global_theme.scss";
.card {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 0rem 0rem 3rem 0rem;
	> *:not(li, ul, .research-papers-wrapper) {
		padding: 1rem 3rem;
	}
	-webkit-box-shadow: 10px 10px 14px -9px rgba(117, 117, 117, 1);
	-moz-box-shadow: 10px 10px 14px -9px rgba(117, 117, 117, 1);
	box-shadow: 10px 10px 14px -9px rgba(200, 200, 200, 0.8);
	border-radius: 12px;
}

.container {
	width: 90vw;
	border: solid 1px rgba(230, 230, 230, 0.548);
}

.section-header {
	.h2 {
		color: #ffffff;
	}
	background: $blue-header;
	border-radius: 12px 12px 0 0;
	box-shadow: $box-shadow-dark;
}

body {
	overflow-x: hidden;
}

html[data-theme="dark"] {
	body {
		background: $background-dark;
		p {
			color: $secondary-txt-dark;
		}
		h1 {
			color: $accent-blue-dark;
		}
		h2 {
			color: $background-dark;
		}
		h3 {
			color: $accent-green;
		}
		img {
			border: none;
			box-shadow: none !important;
			filter: invert(90%) hue-rotate(120deg);
		}
		li {
			color: $tertiary-txt-dark;
		}
		> * {
			color: $secondary-txt-dark;
		}
	}

	.section-header {
		.h2 {
			color: $background-dark;
		}
		background: $accent-green;
		border-radius: 12px 12px 0 0;
		box-shadow: $box-shadow-dark;
	}

	.card {
		background: $background-dark;
		box-shadow: $box-shadow-dark;
		border: none;
	}
}
