@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Be Vietnam Pro, Fira Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: rgba(100, 200, 100, 0.5);
	text-underline-offset: 2px;
}
a:hover {
	color: #e324fa;
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}

td {
	padding: 1rem;
}

table {
	text-align: left;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}
ol {
	list-style-type: decimal;
	list-style-position: inside;
}
ul ul,
ol ul {
	list-style-type: circle;
	list-style-position: inside;
	margin-left: 15px;
}
ol ol,
ul ol {
	list-style-type: lower-latin;
	list-style-position: inside;
	margin-left: 15px;
}

ol ol ol,
ul ol ol {
	list-style-type: square;
	list-style-position: inside;
	margin-left: 25px;
}
