@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import "../../_global_theme";

.contact {
	width: auto;
	padding: 0;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: minmax(50px, 1fr) minmax(100px, 5fr);
	grid-template-areas: "ct-head ct-content";
	.contact-head {
		grid-area: ct-head;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background: $blue-header;
		border-right: solid 0.5px #ffffff;
		border-radius: 12px 0 0 12px;
		h5 {
			color: $secondary-txt-dark;
			writing-mode: vertical-rl;
			text-orientation: upright;
			text-transform: uppercase;
		}
	}
	.contact-content {
		grid-area: ct-content;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p > * {
			word-wrap: break-word !important;
		}
		// align-items: center;
	}
}

@media (max-width: 375px) {
	.contact {
		.contact-head {
			border-radius: 0;
		}
	}
}

html[data-theme="dark"] {
	.contact {
		box-shadow: none;
		background: transparent;
		.contact-head {
			box-shadow: $box-shadow-dark;
			margin-right: 0.5rem;
			border-right: solid 1px transparent;
			border-radius: 12px;
		}
		.contact-content {
			margin-left: 0.5rem;
			box-shadow: $box-shadow-dark;
			border-radius: 12px;
		}
	}
	@media (max-width: 375px) {
		.contact {
			.contact-head {
				border-radius: 0 12px 12px 0;
			}
			.contact-content {
				border-radius: 12px 0px 0px 12px;
			}
		}
	}
}
